.elementor-2081 .elementor-element.elementor-element-31d1ac4 > .elementor-container {
    min-height: 400px;
}

.elementor-2081 .elementor-element.elementor-element-31d1ac4 > .elementor-container:after {
    content: "";
    min-height: inherit;
}

.elementor-2081 .elementor-element.elementor-element-31d1ac4 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2081 .elementor-element.elementor-element-31d1ac4 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2081 .elementor-element.elementor-element-956c160 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(:last-child) {
    margin-bottom: 0px;
}

.elementor-2081 .elementor-element.elementor-element-3b7e0c0 iframe {
    height: 500px;
    pointer-events: none;
}

.elementor-2081 .elementor-element.elementor-element-3b7e0c0 > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-2081 .elementor-element.elementor-element-f65ecab {
    background-color: #f9f9f9;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2081 .elementor-element.elementor-element-f65ecab > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2081 .elementor-element.elementor-element-4d4427b > .elementor-widget-container {
    margin: 70px 0px 0px 35px;
}

.elementor-2081 .elementor-element.elementor-element-47184c5 .elementor-spacer-inner {
    height: 50px;
}

.elementor-2081 .elementor-element.elementor-element-7475a27 {
    text-align: left;
}

.elementor-2081 .elementor-element.elementor-element-7475a27.elementor-widget-heading .elementor-heading-title {
    color: #000000;
}

.elementor-2081 .elementor-element.elementor-element-7475a27 .elementor-heading-title {
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
}

.elementor-2081 .elementor-element.elementor-element-7475a27 > .elementor-widget-container {
    margin: 70px 0px 0px 0px;
}

.elementor-2081 .elementor-element.elementor-element-3a3dd1a {
    color: #7a7a7a;
    font-family: "Roboto", Sans-serif;
    font-size: 10px;
}

.elementor-2081 .elementor-element.elementor-element-a407e2c.elementor-widget-heading .elementor-heading-title {
    color: #000000;
}

.elementor-2081 .elementor-element.elementor-element-a407e2c .elementor-heading-title {
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
}

.elementor-2081 .elementor-element.elementor-element-a407e2c > .elementor-widget-container {
    margin: 38px 0px 0px 0px;
}

.elementor-2081 .elementor-element.elementor-element-63874be.elementor-view-stacked .elementor-icon {
    background-color: #1d84cb;
}

.elementor-2081 .elementor-element.elementor-element-63874be.elementor-view-framed .elementor-icon, .elementor-2081 .elementor-element.elementor-element-63874be.elementor-view-default .elementor-icon {
    color: #1d84cb;
    border-color: #1d84cb;
}

.elementor-2081 .elementor-element.elementor-element-63874be.elementor-position-right .elementor-icon-box-icon {
    margin-left: 21px;
}

.elementor-2081 .elementor-element.elementor-element-63874be.elementor-position-left .elementor-icon-box-icon {
    margin-right: 21px;
}

.elementor-2081 .elementor-element.elementor-element-63874be.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 21px;
}

.elementor-2081 .elementor-element.elementor-element-63874be .elementor-icon {
    font-size: 18px;
    border-radius: 0px 0px -20px 0px;
}

.elementor-2081 .elementor-element.elementor-element-63874be .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-2081 .elementor-element.elementor-element-63874be .elementor-icon-box-title {
    margin-bottom: 15px;
}

.elementor-2081 .elementor-element.elementor-element-63874be .elementor-icon-box-content .elementor-icon-box-title {
    color: #54595f;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    line-height: 0.1em;
}

.elementor-2081 .elementor-element.elementor-element-63874be .elementor-icon-box-content .elementor-icon-box-description {
    color: #000000;
}

.elementor-2081 .elementor-element.elementor-element-63874be > .elementor-widget-container {
    margin: 7px 0px 0px 0px;
}

.elementor-2081 .elementor-element.elementor-element-65e7823.elementor-view-stacked .elementor-icon {
    background-color: #1d84cb;
}

.elementor-2081 .elementor-element.elementor-element-65e7823.elementor-view-framed .elementor-icon, .elementor-2081 .elementor-element.elementor-element-65e7823.elementor-view-default .elementor-icon {
    color: #1d84cb;
    border-color: #1d84cb;
}

.elementor-2081 .elementor-element.elementor-element-65e7823.elementor-position-right .elementor-icon-box-icon {
    margin-left: 21px;
}

.elementor-2081 .elementor-element.elementor-element-65e7823.elementor-position-left .elementor-icon-box-icon {
    margin-right: 21px;
}

.elementor-2081 .elementor-element.elementor-element-65e7823.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 21px;
}

.elementor-2081 .elementor-element.elementor-element-65e7823 .elementor-icon {
    font-size: 18px;
    border-radius: 0px 0px -20px 0px;
}

.elementor-2081 .elementor-element.elementor-element-65e7823 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-2081 .elementor-element.elementor-element-65e7823 .elementor-icon-box-title {
    margin-bottom: 15px;
}

.elementor-2081 .elementor-element.elementor-element-65e7823 .elementor-icon-box-content .elementor-icon-box-title {
    color: #54595f;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    line-height: 0.1em;
}

.elementor-2081 .elementor-element.elementor-element-65e7823 .elementor-icon-box-content .elementor-icon-box-description {
    color: #000000;
}

.elementor-2081 .elementor-element.elementor-element-65e7823 > .elementor-widget-container {
    margin: -13px 0px 0px 0px;
}

.elementor-2081 .elementor-element.elementor-element-5aad3fe.elementor-view-stacked .elementor-icon {
    background-color: #1d84cb;
}

.elementor-2081 .elementor-element.elementor-element-5aad3fe.elementor-view-framed .elementor-icon, .elementor-2081 .elementor-element.elementor-element-5aad3fe.elementor-view-default .elementor-icon {
    color: #1d84cb;
    border-color: #1d84cb;
}

.elementor-2081 .elementor-element.elementor-element-5aad3fe.elementor-position-right .elementor-icon-box-icon {
    margin-left: 21px;
}

.elementor-2081 .elementor-element.elementor-element-5aad3fe.elementor-position-left .elementor-icon-box-icon {
    margin-right: 21px;
}

.elementor-2081 .elementor-element.elementor-element-5aad3fe.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 21px;
}

.elementor-2081 .elementor-element.elementor-element-5aad3fe .elementor-icon {
    font-size: 18px;
    border-radius: 0px 0px -20px 0px;
}

.elementor-2081 .elementor-element.elementor-element-5aad3fe .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-2081 .elementor-element.elementor-element-5aad3fe .elementor-icon-box-title {
    margin-bottom: 15px;
}

.elementor-2081 .elementor-element.elementor-element-5aad3fe .elementor-icon-box-content .elementor-icon-box-title {
    color: #54595f;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    line-height: 0.1em;
}

.elementor-2081 .elementor-element.elementor-element-5aad3fe .elementor-icon-box-content .elementor-icon-box-description {
    color: #000000;
}

.elementor-2081 .elementor-element.elementor-element-5aad3fe > .elementor-widget-container {
    margin: -11px 0px 0px 0px;
}

.elementor-2081 .elementor-element.elementor-element-189ff75.elementor-widget-heading .elementor-heading-title {
    color: #000000;
}

.elementor-2081 .elementor-element.elementor-element-189ff75 .elementor-heading-title {
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
}

.elementor-2081 .elementor-element.elementor-element-189ff75 > .elementor-widget-container {
    margin: 33px 0px 0px 0px;
}

.elementor-2081 .elementor-element.elementor-element-0b3ebb3.elementor-view-stacked .elementor-icon {
    background-color: #1d84cb;
}

.elementor-2081 .elementor-element.elementor-element-0b3ebb3.elementor-view-framed .elementor-icon, .elementor-2081 .elementor-element.elementor-element-0b3ebb3.elementor-view-default .elementor-icon {
    color: #1d84cb;
    border-color: #1d84cb;
}

.elementor-2081 .elementor-element.elementor-element-0b3ebb3.elementor-position-right .elementor-icon-box-icon {
    margin-left: 27px;
}

.elementor-2081 .elementor-element.elementor-element-0b3ebb3.elementor-position-left .elementor-icon-box-icon {
    margin-right: 27px;
}

.elementor-2081 .elementor-element.elementor-element-0b3ebb3.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 27px;
}

.elementor-2081 .elementor-element.elementor-element-0b3ebb3 .elementor-icon {
    font-size: 31px;
}

.elementor-2081 .elementor-element.elementor-element-0b3ebb3 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-2081 .elementor-element.elementor-element-0b3ebb3 .elementor-icon-box-title {
    margin-bottom: 0px;
}

.elementor-2081 .elementor-element.elementor-element-0b3ebb3 .elementor-icon-box-content .elementor-icon-box-title {
    color: #54595f;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    line-height: 0.1em;
}

.elementor-2081 .elementor-element.elementor-element-0b3ebb3 > .elementor-widget-container {
    margin: 25px 0px 0px 0px;
}

.elementor-2081 .elementor-element.elementor-element-27606e3.elementor-view-stacked .elementor-icon {
    background-color: #1d84cb;
}

.elementor-2081 .elementor-element.elementor-element-27606e3.elementor-view-framed .elementor-icon, .elementor-2081 .elementor-element.elementor-element-27606e3.elementor-view-default .elementor-icon {
    color: #1d84cb;
    border-color: #1d84cb;
}

.elementor-2081 .elementor-element.elementor-element-27606e3.elementor-position-right .elementor-icon-box-icon {
    margin-left: 27px;
}

.elementor-2081 .elementor-element.elementor-element-27606e3.elementor-position-left .elementor-icon-box-icon {
    margin-right: 27px;
}

.elementor-2081 .elementor-element.elementor-element-27606e3.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 27px;
}

.elementor-2081 .elementor-element.elementor-element-27606e3 .elementor-icon {
    font-size: 31px;
}

.elementor-2081 .elementor-element.elementor-element-27606e3 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-2081 .elementor-element.elementor-element-27606e3 .elementor-icon-box-title {
    margin-bottom: 0px;
}

.elementor-2081 .elementor-element.elementor-element-27606e3 .elementor-icon-box-content .elementor-icon-box-title {
    color: #54595f;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    line-height: 0.1em;
}

.elementor-2081 .elementor-element.elementor-element-27606e3 > .elementor-widget-container {
    margin: -14px 0px 0px 0px;
}

.elementor-2081 .elementor-element.elementor-element-e8024bb.elementor-view-stacked .elementor-icon {
    background-color: #1d84cb;
}

.elementor-2081 .elementor-element.elementor-element-e8024bb.elementor-view-framed .elementor-icon, .elementor-2081 .elementor-element.elementor-element-e8024bb.elementor-view-default .elementor-icon {
    color: #1d84cb;
    border-color: #1d84cb;
}

.elementor-2081 .elementor-element.elementor-element-e8024bb.elementor-position-right .elementor-icon-box-icon {
    margin-left: 27px;
}

.elementor-2081 .elementor-element.elementor-element-e8024bb.elementor-position-left .elementor-icon-box-icon {
    margin-right: 27px;
}

.elementor-2081 .elementor-element.elementor-element-e8024bb.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 27px;
}

.elementor-2081 .elementor-element.elementor-element-e8024bb .elementor-icon {
    font-size: 31px;
}

.elementor-2081 .elementor-element.elementor-element-e8024bb .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-2081 .elementor-element.elementor-element-e8024bb .elementor-icon-box-title {
    margin-bottom: 0px;
}

.elementor-2081 .elementor-element.elementor-element-e8024bb .elementor-icon-box-content .elementor-icon-box-title {
    color: #54595f;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    line-height: 0.1em;
}

.elementor-2081 .elementor-element.elementor-element-e8024bb > .elementor-widget-container {
    margin: -17px 0px 0px 0px;
}

@media(max-width: 767px) {
    .elementor-2081 .elementor-element.elementor-element-63874be .elementor-icon-box-icon {
        margin-bottom:21px;
    }

    .elementor-2081 .elementor-element.elementor-element-65e7823 .elementor-icon-box-icon {
        margin-bottom: 21px;
    }

    .elementor-2081 .elementor-element.elementor-element-5aad3fe .elementor-icon-box-icon {
        margin-bottom: 21px;
    }

    .elementor-2081 .elementor-element.elementor-element-0b3ebb3 .elementor-icon-box-icon {
        margin-bottom: 27px;
    }

    .elementor-2081 .elementor-element.elementor-element-27606e3 .elementor-icon-box-icon {
        margin-bottom: 27px;
    }

    .elementor-2081 .elementor-element.elementor-element-e8024bb .elementor-icon-box-icon {
        margin-bottom: 27px;
    }
}

@media(min-width: 768px) {
    .elementor-2081 .elementor-element.elementor-element-8b98847 {
        width:39.035%;
    }

    .elementor-2081 .elementor-element.elementor-element-1d20299 {
        width: 60.965%;
    }
}
